body > .card-view {
  width: 125px;
  height: auto;
  position: absolute;
  background-color: #d7e9fe;
  padding: 5px 8px;
  z-index: 10;
  font-size: 12px;
  border-left: 2px solid #1ad372;
}

.table-div {
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 19px;
}
.table-div-content {
  height: 100%;
}
.lesson-basket {
  position: relative;
  z-index: 1;
  display: table-cell;
  width: 300px;
  height: auto;
  vertical-align: top;
  background-color: #eef2f5;
  box-shadow: 0px 0px 12px 3px #888888;
}
.lesson-basket .container-basket .basket-title,
.lesson-basket .container-basket .test {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.lesson-basket .container-basket .cards{
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 559px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.basket-title {
  padding-top: 15px;
}

.basket-title > a {
  float: right;
  cursor:pointer;
}
.hr {
  width: 100%;
  color:#d7d7d7;
  height: 1px;
  background-color:#d7d7d7;
  margin-top: 10px;
}

.card {
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  cursor: move;
}
.card > .card-block {
  padding: .5rem .75rem .75rem .75rem;
}
.card > .card-block hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card > .card-footer {
  background-color: #f5f5f5;
  height: auto;
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5px;
}
.card-text > span {
  color: #737373;
}
.card-text > span.major {
  color: #ff6b6b;
}
.card-footer table.card-footer-table {
  width: 100%;
}
.card-footer table.card-footer-table > tbody > tr > td {
  text-align: center;
  padding: 6px 0px;
}
.card-footer table.card-footer-table > tbody > tr > td.full {
  color: #22b585;
}
.card-footer table.card-footer-table > tbody > tr > td.notfull {
  color: #ff6b6b;
}
.arrange-full {
  background-color: #22b585;
  color: #ffffff;
}
.arrange-notfull {
  background-color: #ff6b6b;
  color: #ffffff;
}

.card.selected > .card-block {
  background-color: #14a4fa;
}
.card.selected > .card-footer {
  background-color: #0d93e4;
  color: #ffffff;
}
.card.selected > .card-footer span,
.card.selected > .card-block p,
.card.selected > .card-block span {
  color: #ffffff;
}
.card-block div.card-text.move-in span  {
  color: #14a4fa;
}
.card-block div.card-text.move-out span  {
  color: #ff6b6b;
}
.card-block div.card-text.move-in-select span  {
  color: #ff6b6b;
}
.card-block div.card-text.move-out-select span {
  color: #fff;
}
.arrange-schedule .btn-wide {
  padding: 5px 25px
}
.arrange-schedule .nav-toolbar {
  color: #428bca;
  display: inline-block;
  padding-left: 10px
}
.arrange-schedule .nav-toolbar > a {
  padding-left: 5px;
  cursor: pointer;
  text-decoration: none;
}

.time-table-body .columns {
  height:auto;
  float:left;
  position: relative;
}
.time-table-body .columns div.line {
  border-top: 1px solid #d7d7d7;
}
.time-table-body .columns div.rest-time {
  color: #737373;
  background-color: #f2f2f2;
}
.time-table-body .columns.time-segment {
  width: 4.5%;
  border-left:1px solid #d7d7d7;
  font-size: 10px;
}
.time-table-body .columns.unit {
  width: 3.5%;
}

.time-table-body .columns.unit,
.time-table-body .columns.time-segment {
  word-wrap: break-word;
  text-align: center;
  border-right:1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.time-table-body .columns.unit div,
.time-table-body .columns.time-segment div {
  border-top: 1px solid #d7d7d7;
}

.time-table-body .columns.weekday {
  border-right:1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.time-table-body .columns.weekday div.blank-unit-line,
.time-table-body .columns.weekday div.rest-time {
  border-top: 1px solid #d7d7d7;
}
.time-table-body .columns.weekday div.blank-unit {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.time-table-title {
  width: 100%;
  text-align: center;
  line-height: 30px;
  padding-top: 5px;
}
.time-table-title div {
  float: left;
}
.time-table-title div.weekday-title {
  height: 30px;
  border-right: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
}
.time-table-title div.layout-title {
  width: 8%;
  height: 30px;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
}
.time-table-body .columns.weekday div.card-view {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #d7e9fe;
  z-index: 2;
  top: 0px;
  left: 0;
  border-top: 1px solid #d7d7d7;
  cursor: move;

  overflow: hidden;
  text-overflow: ellipsis;

  padding-left: 5px;
}
.time-table-body .columns.weekday div.card-view.common-card {
  border-left: 3px solid #1ad372;
}
.time-table-body .columns.weekday div.card-view.selected-card {
  border: 2px dashed #1ad372;
}
.time-table-body .columns.weekday div.card-view.un-draggable {
  cursor: pointer;
}
.time-table-body .columns.weekday div.warn-card-view {
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #e4e4e4;
  z-index: 2;
  top: 0px;
  border-left: 3px solid #ff6b6b;
  left: 0;
  border-top: 1px solid #d7d7d7;

  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;

  padding-left: 5px;

  cursor: pointer;
}
.time-table-body .columns.weekday div.warn-card-view:hover {
  background-color: #cecece;
}

.time-table-body .columns.weekday div.card-view .card-content {
  font-size: 12px;
  word-wrap: break-word;
  position: absolute;
}

.time-table-body .columns.weekday div.time-table-highlight {
  position: absolute;
  width: 100%;
  border-top: 1px solid #d7d7d7;
  background-color: rgba(255, 241, 8, 0.5) !important;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-s {
  background: url('../img/resizing.png') center center no-repeat;
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: 0px;
  left: 0;
}


.popover {
  width:300px;
  max-width: 350px;
  z-index: 10;
  /*min-height: 500px;*/
}
.popover-content .conflict-activity {
  background-color: #ececec;
  padding: 5px 10px;
  margin-bottom: 6px;
  border-radius: 4px;
}
.popover-content .conflict-activity > .arranges {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 5px;
}
.popover-content .conflict-activity > .arranges > p {
  padding-right: 10px;
  padding-top: 2px;
}
.popover-content .arranges > p {
  padding-left: 15px;
  word-break: break-all;
}
.popover-content .arranges > hr {
  margin-top: 5px;
  margin-bottom: 5px
}
.popover-content .footer {
  padding-top: 19px;
}


.modal.schedule .modal-dialog {
  width: 90%;
}


.arrange-icon {
  color: #1bd875;
  font-size: 16px!important;
}
.donot-arrange-icon {
  color: #eb4f38;
  font-size: 16px!important;
}
.undo-arrange-icon {
  color: #deb426;
  font-size: 16px!important;
}

.spacing-table .td-selected {
  background-color: rgba(20, 164, 250, 0.5)!important;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -5px;
  line-height: 30px;
  font-size: 14px;
  top: 5px;
}
.spacing-table .td-conflict {
  background-color: rgba(235, 79, 56, 0.5)!important;
  color: #000000;
  position: absolute;
  width: 31%;
  left: 69%;
  height: 100%;
  margin: -5px 0px;
  line-height: 30px;
  font-size: 14px;
  top: 5px;

  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.schedule-table {
  margin-top: 10px;
  width: 100%;
  height: auto;
  max-height: 590px;
  overflow: auto;
  margin-bottom: 10px;
}
.spacing-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.spacing-table .table-row {
  display: table-row;
}
.spacing-table .table-row.row-title {
  height: 40px;
}
.spacing-table .table-row.separator {
  height: 5px;
}
.spacing-table .table-row.table-content {
  height: 26px;
}
.spacing-table .column {
  display: table-cell;
  vertical-align: middle;
  padding: 2px 5px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #979a9e;
  position: relative;
}
.spacing-table .column:first-child {
  width: 55px;
  text-align: center;
  color: #1bd875;
}
.spacing-table .column:nth-child(even) {
  width: 230px;
}
.spacing-table .column.td-separator {
  width: 5px;
  padding: 0px;
}
.spacing-table .table-row:nth-child(even) > .column {
  background-color: #f2f2f2;
}
.spacing-table .table-row:nth-child(even) > .column:first-child {
  border-left: 1px solid #ddd;
}
.spacing-table .table-row:first-child > .column:nth-child(even) {
  border-top: 1px solid #ddd;
}
.spacing-table .table-row.separator > .column:first-child,
.spacing-table .table-row:first-child > .column:first-child {
  background-color: #ffffff;
}
.spacing-table .table-row .column.room {
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.column .btn-group .btn {
  height: 20px;
  line-height: 10px;
}

.schedule-table .select-type {
  float: right;
  cursor: pointer;
  color: #979a9e;
  text-decoration: none;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.add-empty-schedule {
  height: 30px;
  line-height: 30px;
  border: 1px dashed #ddd;
  color: #979a9e;
  cursor: pointer;
}
.room-list {
  float: left;
  border: 1px solid #ddd;
  width: 45%;
  height: 640px;
  padding: 15px 5px 0px 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.building-search-cond.selectize-control {
  height: 33px;
  margin-bottom: 0px;
}

/* è®¾ç½®æŽ’è¯¾ç»„ç•Œé¢ */
.modal.schedule-group .modal-dialog {
  width: 1150px;
}
.schedule-group .card-list {
  overflow-y: auto;
  padding: 10px;
  width: 200px;
  background-color: #f2f2f2;
  height: 560px;
}
.schedule-group .default-group {
  float: left;
}
.schedule-group .group-list-block{
  float: left;
  width: auto;
  height: 560px;
  max-width: 700px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.schedule-group .group-list-block .group-list{
  display: inline-block;
}
.schedule-group .group-list-block .separator{
  display: inline-block;
  width: 10px;
  height: 560px;
}
.schedule-group .add-group {
  float: left;
  height: 560px;
  border: 1px dashed #ddd;
  text-align: center;
  line-height: 560px;
  cursor: pointer;
  margin-left: 20px;
}
.schedule-group .schedule-card {
  clear: left;
  display: block;
  width: 100%;
  height: 100px;
  background-color: #14a4fa;
  color: #ffffff;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;

  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow :ellipsis;*/
}
.schedule-group .schedule-card.sortable-dragging {
  border: 1px dashed #CCC;
  background: #ffffff;
  width: 100%;
  height: 100px;
}

.schedule-table > .fixed-column {
  position: absolute;
  width: auto;
}
.menuss {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.room-type {
  float: right;
  padding-right: 15px;
}


.card-select {
  background: rgba(255, 107, 107, 0.5)!important;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-left: -5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  z-index: 1;
  text-align: center;
}

.setting-dropmenu > ul {
  display: block;
  z-index: 10;
}
.setting-dropmenu > ul > li > a:hover,
.setting-dropmenu > ul > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #14a4fa;
}

table#set-time-table .show-place-msg {
  word-break:break-all;
  word-wrap: break-word;
}
.setting-temp-div {
  padding: 5px;
}
.setting-temp-div button {
  height: 25px;
  line-height: 13px;
}
.setting-temp-div .clear-all-schedule {
  color: #000;
  cursor: pointer;
  float: left;
  width: 39%;
  padding-left: 3px;
}
.setting-temp-div .setting-classroom {
  color: #000;
  cursor: pointer;
  float: left;
  width: 30.25%;
  padding-left: 4px;
}
.setting-temp-div .clear-classroom {
  color: #000;
  cursor: pointer;
  float: left;
  width: 30.25%;
  padding-left: 5px;
}
.modal.top .modal-dialog,
.modal.bottom .modal-dialog,
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.top .modal-body,
.modal.bottom .modal-body,
.modal.left .modal-body,
.modal.right .modal-body {
  padding: 0 15px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
  right: 0;
}

/*Top*/
.modal.top.fade .modal-dialog {
  top: -320px;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.top.fade.in .modal-dialog {
  top: 0;
}

/*Bottom*/
.modal.bottom.fade .modal-dialog {
  bottom: -320px;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}
.modal.bottom.fade.in .modal-dialog {
  bottom: 0;
}

#schedule .customPlace {
  margin-left: -30px;
}
#schedule .addCustomPlace {
  margin-top: 18px;
}
#schedule .btn.week-index-btn {
  padding: 5px 8px;
}
#schedule .setCustomTime {
  height: 25px;
  vertical-align: middle;
  line-height: 15px;
}
#schedule .current-schedule-list label {
  border-radius: 5px;
  padding: 6px 5px 5px 5px;
  background-color: #eee;
  margin: 5px;
  color: #999;
}
#schedule .current-schedule-list label .close {
  cursor: pointer;
  font-size: 15px;
  opacity: .9;
  -ms-filter: 'alpha(opacity=90)';
  color: #999;
}
#schedule .current-schedule-list label .close:hover {
  opacity: 1;
  -ms-filter: 'alpha(opacity=100)';
}

.modal#teacher_schedule {
  right: auto;
}
.modal#teacher_schedule .modal-dialog {
  width: 800px;
  max-height: 750px;
  margin: 0px 0px 15px 15px;
}
.card-content .close:hover {
  font-size: 20px;
  color: red;
}

table#rooms-header {
  margin-bottom: 0;
}

table#rooms {
  table-layout: fixed;
}

table#rooms thead tr th {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  height: 0px
}

#rooms-div {
  height: 450px;
  overflow: auto;
}

.padding-right-0 {
  padding-right: 0px;
}
.room-list-block {
  margin-top: -10px;
}
.current-schedule,
.batch-set-place{
  background: #d7e9fe;
  padding: 15px 0px 5px 0px;
  margin: -10px 5px;
}
.current-schedule-list label {
  font-weight: normal;
}

/*æŸ¥è¯¢ç©ºé—²æ•™å®¤å’Œå…¨éƒ¨æ•™å®¤æ ·å¼*/
.room-list-block .noClick {
  background-color: #e6e6e6;
}
.current-schedule-place {
  padding: 0px;
}
.pending {
  color: red;
  font-size: 16px;
  padding: 0px;
  margin-top: -2px;
}

.time-table-body .columns.weekday div.room-table-view {
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  background-color: #e4e4e4;
  border-left: 3px solid #ff6b6b;
  border-top: 1px solid #d7d7d7;
}
.twinkle {
  opacity: 1;
}
.twinkle2 {
  opacity: 0;
}

.pageInfoStyle {
  float: left;
  margin-top: -18px;
  margin-left: 10px;
}
#global_filter {
  width: 90%;
  height: 33px;
  padding: 6px 12px 6px 25px;
  font-size: 13px;
  line-height: 1.53846154;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.query-search-icon {
  position:  absolute;
  z-index:  999;
  padding: 11px;
  left: 0;
}
.semi-auto-table-toolbar .btn,
.spacing-table .btn {
  padding: 5px;
}
.semi-auto-table-toolbar .dropdown-menu {
  min-width: 90px;
}

.spacing-table .btn.dropdown-toggle {
  padding: 5px;
}
.spacing-table .btn.dropdown-toggle i.fa-chevron-down {
  font-size: 10px;
  -webkit-transform-origin-x: 0;
  transform: scale(0.80);
  margin-top: -2px;
}
.lesson-type-span {
  font-size: 14px;
  -webkit-transform-origin-x: 0;
  transform: scale(0.8);
  background: #ccc;
  padding: 4px;
  color: #000000;
  position: absolute;
  height: 31px;
  line-height: 31px;
  width: 36px;
  top: -3px;
  right: -7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lesson-type-period-div {
  width: 100%;
  height: 30px;
  border: 1px solid #428bca;
  display: inline;
  line-height: 30px;
  color: #428bca;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 2px 1px;
}