{% extends 'teacher_edit.html' %}
{% block title %}
    <li><a href="{% url 'teacher_list' %}">教师列表</a></li>
    <li class="active"><a href="{% url 'class_list' %}">班级列表</a></li>
    <li><a href="{% url 'course_list' %}">课程列表</a></li>
    <li><a href="{% url 'schedule' %}">课程表</a></li>
{% endblock %}
{% block class %}
    <h2 class="sub-header">班级列表</h2>
    <a class="btn btn-primary btn-sm" href="{% url 'class_list' %}">返回</a>
    <form action="" method="post">
        {% csrf_token %}
        <span>
                    <label>原班级名称：{{ cla.name }}</label>
                <br>
                <input name="name" type="text">
                        <br>
                </span>

        <span><label>原班级人数:{{ cla.student_quantity }}</label>
                    <br>
                <input name="quantity" type="text"></span>
        <br>
        <span>{{ errors }}</span>
        <br>
        <button class="btn btn-primary btn-sm" type="submit">提交</button>
    </form>
{% endblock %}